flask
langchain
langchain_community
python-dotenv
langchain-google-genai
ipykernel
langchain-ollama
flask-smorest
flask-marshmallow
sqlalchemy
flask-sqlalchemy
psycopg2-binary 
pgvector 
sqlalchemy-utils
shortuuid
redis 
flask-caching
pypdf
langchain-postgres
rq
Flask-Migrate
streamlit[pdf]
langchain[aws]
langchain-text-splitters 
nltk
rank_bm25
pdf2image